<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детали заказа</title>
    <style type="text/css">
        div
        {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div>

    <form id="add-form" th:action="@{/orderDetails/add}" th:method="post">


        <h2>Добавление деталей заказа</h2>

        <div class="row">
            <label for="order-name-input">Название заказа:</label>
            <input id="order-name-input" name="name" type="text"
                    required="required"/>
        </div>

        <div class="row">
            <label for="order-comment-input">Комментарий к заказу:</label>
            <input id="order-comment-input" name="comment" type="text"
                    required="required"/>
        </div>

        <div class="row">
            <label for="orderId"></label>
            <input id="orderId" name="orderId" type="number"
                   th:value="${orderId}" hidden="hidden"/>
        </div>

        <div class="row">
            <button type="submit">Сохранить</button>
        </div>
    </form>

    <div class="row">
        <a href="/">Назад</a>
    </div>
</div>
</body>
</html>