<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <style type="text/css">
        table,th,td
        {
            border:1px solid black;
            background-color: azure;
            color: darkgreen;
        }
        td
        {
            padding:5px;
        }
        div
        {
            margin-top: 10px;
        }
    </style>
</head>

<body>
<h2>Заказы:</h2>
<table>
    <thead>
    <tr>
        <th>Номер</th>
        <th>Действие1</th>
        <th>Действие2</th>
        <th>Действие3</th>
    </tr>
    </thead>
    <tbody >
    <tr th:each="order: ${orders}">
        <td th:text="${order.orderNumber}"></td>
        <td><a th:href="@{/delete/{id}(id=${order.id})}">Удалить</a></td>
        <td><a th:href="@{/edit(id=${order.id})}" href="editOrder.html">Изменить</a></td>
        <td><a th:href="@{/orderDetails(orderId=${order.id})}" href="orderDetails.html">Детали</a></td>
    </tr>
    </tbody>
</table>

<div>
    <form id="add-form" th:action="@{/add}" th:method="post">
        <h2>Добавление нового заказа:</h2>

        <div>
            <label for="order-number-input">Номер заказа:</label>
            <input id="order-number-input" name="orderNumber" type="text" required="required"/>
        </div>

        <div>
            <button type="submit">Сохранить</button>
        </div>
    </form>
</div>

</body>
</html>